/**/
/* clear basic modal */
.ui.page.modals.dimmer.transition.visible.active {
  font-family: 'Cormorant Unicase', serif;
  overflow: scroll;
  .ui.modal.transition.visible.active {
    background-color: transparent;
    .header {
      color: #1180fc;
      font-family: 'Cormorant Unicase', serif;
      font-size: 30px;
      text-align: center;
      background-color: transparent;
    }
    .content {
      color: #1180fc;
      background-color: transparent;
      .description {
        .header {
          font-family: 'Cormorant Unicase', serif;
          font-size: 22px;
          text-align: center;
        }
        p {
          color: white;
          text-align: justify;
          font-size: 22px;
        }
        .TrigerSliderBlock {
          display: flex;
          justify-content: center;
          button {
            cursor: pointer;
            color: #1180fc;
            background-color: transparent;
            border: none;
            outline: none;
            font-size: 22px;
          }
        }
        .LinksBlock {
          display: flex;
          flex-direction: row;
          a {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #1180fc;
            margin: 5px;
          }
          a:hover {
            transition: .4s ease-out;
            color: white;
          }
        }
        .carousel.slide {
          margin: 50px 0;
          .carousel-item {
            img {
              border-radius: 5px 5px;
            }
          }
          .carousel-indicators {
            li {
              background-color: #1180fc;
            }
            li.active {
              background-color: red;
            }
          }
          .carousel-control-prev, .carousel-control-next {
            .carousel-control-next-icon, .carousel-control-prev-icon {
              cursor: pointer;
              background-color: #1180fc;
              border-radius: 10%;
            }
          }
        }
      }
    }
    .actions {
      color: #1180fc;
      background-color: transparent;
      button {
        background-color: #1180fc;
      }
      button:hover {
        transition: .4s ease-out;
        background-color: white;
        color: darkred;
      }
    }
  }
}
.visible.transition {
  width: 80%;
  margin: 0 auto !important;
  padding: 0;
  display: inline-block !important;
  position: relative;
  top: 20%;
  left: 1%;
  right: 0;
}
.modalBlock.visible.transition {
  display: flex;
  justify-content: center;
  align-items: center;
  .visible.transition {
    display: flex;
  }
}
.ui.page.modals.dimmer.transition.visible.active {
  display: flex;
  .visible.transition {
    display: flex;
  }
  .ui.modal.transition.visible.active {
    display: flex;
    .visible.transition {
      display: flex;
    }
  }
}
.demoPage {
  background: transparent;
  .categoryButtons {
    button {
      cursor: pointer;
      color: #1180fc;
      text-shadow: 4px 4px 8px rgba(255, 255, 255, 1);
      border: 1px solid #1180fc;
      border-radius: 5px 5px 5px 5px;
      padding: 10px 20px;
      margin: 5px;
      background: transparent;
    }
    button:hover {
      transition: .4s ease-in-out;
      color: white;
      border-color: white;
    }
  }
  .items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .item {
      margin: 5px;
      overflow: hidden;
      width: 32%;
      height: 250px;
      background-size: cover;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      img {
        z-index: -1;
        opacity: 0.3;
        position: absolute;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
      }
      .category {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        .list {
          margin: 10px 10px;
        }
      }
      .title {
        font-size: 26px;
      }
      .description {
        font-size: 18px;
        white-space: nowrap;
        text-align: center;
        overflow: hidden;
        height: 55%;
        width: 80%;
      }
      .ui.orange.basic.button.triggerModal {
        cursor: pointer;
        color: #1180fc !important;
        text-shadow: 4px 4px 8px rgba(255, 255, 255, 1);
        border: 1px solid #1180fc;
        border-radius: 5px 5px 5px 5px;
        padding: 10px 20px;
        margin: 5px;
        background: transparent;
      }
      .triggerModal {
        border: solid 1px white;

        margin: 10px 5px;
        display: flex;
        align-self: flex-end;
      }
    }
    .item:hover {
      opacity: .9;
      background: #1180fc;
      img {
        opacity: .1;
        transition: 1s;
        -webkit-transform:rotate(2deg) scale(1.2);
        transform:rotate(2deg) scale(1.2);
      }
    }
  }
}
@media screen and (max-width: 1300px) {
  .visible.transition {
    width: 80%;
    margin: 0 auto !important;
    padding: 0;
    display: inline-block !important;
    position: relative;
    top: 20%;
    left: 1%;
    right: 0;
  }
}
@media screen and (max-width: 1000px) {
  .visible.transition {
    width: 80%;
    margin: 0 auto !important;
    padding: 0;
    display: inline-block !important;
    position: relative;
    top: 20%;
    left: 1%;
    right: 0;
  }
  .demoPage {
    .items {
      .item {
        width: 45%;
        img {
          width: 43%;
        }
      }
    }
  }
}
@media screen and (max-width: 650px) {
  //carousel in model
  .ui.page.modals.dimmer.transition.visible.active {
    .ui.modal.transition.visible.active {
      .content {
        .description {
          .carousel.slide {
            margin: 50px 0;
            .carousel-item {
              img {
                min-height: 250px;
                border-radius: 10px 10px;
              }
            }
            .carousel-indicators {
              li {
                background-color: #1180fc;
              }
              li.active {
                background-color: red;
              }
            }
            .carousel-control-prev, .carousel-control-next {
              .carousel-control-next-icon, .carousel-control-prev-icon {
                cursor: pointer;
                background-color: #1180fc;
                border-radius: 10%;
              }
            }
          }
        }
      }
    }
  }
  .visible.transition {
    margin: 0 auto !important;
    padding: 0;
    display: inline-block !important;
    position: relative;
    top: 20%;
    left: 0;
    right: 0;
  }
  .demoPage {
    .items {
      .item {
        width: 100%;
        img {
          width: 90%;
        }
      }
      .item:hover {
        opacity: .8;
        background-color: #1180fc;
        .title {
          opacity: 0.4;
        }
        img {
          opacity: .7;
          transition: 1s;
          -webkit-transform:rotate(0deg) scale(0);
          transform:rotate(0deg) scale(0);
        }
      }
    }
  }
}