/**/
.visible.transition {
  margin-top: auto !important;
  display: inline-block !important;
  position: relative;
  top: 20%;
  left: 25%;
  right: 25%;
}

.modalBlock.visible.transition {
  display: flex;
  justify-content: center;
  align-items: center;
  .visible.transition {
    display: flex;
  }
}

.ui.page.modals.dimmer.transition.visible.active {
  display: flex;
  .visible.transition {
    display: flex;
  }
  .ui.modal.transition.visible.active {
    display: flex;
    .visible.transition {
      display: flex;
    }
  }

}

.demoPage {
  background: transparent;
  .category {

  }
  .items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .item {
      margin: 5px;
      overflow: hidden;
      width: 32%;
      height: 250px;
      background-size: cover;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;

      img {
        z-index: -1;
        opacity: 0.3;
        position: absolute;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
      }

      .category {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        .list {
          margin: 10px 5px;

        }
      }
      .title {

      }
      .description {
        height: 55%;
      }
      .triggerModal {
        margin: 10px 5px;
        display: flex;
        align-self: flex-end;
      }
      .triggerModal:hover {
        color: white!important;
        border: white;
      }
    }
    .item:hover {
      opacity: .9;
      background: #FD630B;
      img {
        opacity: .1;
        transition: 1s;
        -webkit-transform:rotate(2deg) scale(1.2);
        transform:rotate(2deg) scale(1.2);
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  .demoPage {
    .items {
      .item {
        width: 45%;
        img {
          width: 43%;
        }
      }
    }
  }
}
@media screen and (max-width: 650px) {
  .demoPage {
    .items {
      .item {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }
}