/*HomePage*/
.HomePage {
  .contentTitle {
    z-index: 9;
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    background-color: black;
    .items {
      height: 825px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      .item {
        padding: 50px;
      }
      .item:hover {
        cursor: pointer;
        background-color: #FD630B;
        transition: 0.9s;
        opacity: 1;
      }
    }
  }
  .contentDesc {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 20%;
    bottom: 0;
    background-color: black;
    border-bottom: 5px solid white;
    .timeBlock {
      font-family: 'Roboto', sans-serif;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      .clock {
        font-size: 46px;
      }
      .month {
        display: flex;
        flex-direction: column;
        justify-content: center;
        span {
          font-size: 20px;
          line-height: 1;
        }
      }
    }
  }
  .contentDesc:hover {
    transition: .9s;
    cursor: pointer;
  }
  .scrollContent {
    transition: 2s;
    color: white;
  }
  .homePageContent {
    color: white;

    height: 50px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    .welcomeBlock {
      font-family: 'Cormorant Unicase', serif;
      text-align: center;
      transition: 2s;
      margin-top: 50px;
    }
  }
  .parallax {
    cursor: pointer;
    height: 800px;

    .parallaxContent {
      position: absolute;
      display: flex;
      justify-content: center;
      .custom-bg {

      }
    }
  }
  .react-parallax.parallax {
    transition: 0.3s;
    clip-path: polygon(100% 100%, 70% 0, 100% 0, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 0 100%, 0 0,100% 0);
    .react-parallax-background-children {

    }
    .react-parallax-content {
      height: 800px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
    }
  }

  .react-parallax.parallax {
    &:hover {
      transition: 0.9s;
      opacity: 0.95;
      clip-path: polygon(50% 20%, 70% 0, 100% 0, 100% 100%, 70% 100%, 50% 80%, 30% 100%, 0 100%, 0 0, 30% 0);
    }
  }
}
@media screen and (max-width: 1000px) {
  .HomePage {
    .react-parallax.parallax {
      &:hover {
        transition: 0.9s;
        opacity: 0.95;
        clip-path: polygon(50% 20%, 100% 10%, 100% 100%, 50% 90%, 0 100%, 0% 60%, 0 10%);
      }
    }
  }
}
@media screen and (max-width: 850px) {
  .HomePage {
    .contentDesc {
      width: auto;
    }
  }
}
@media screen and (max-width: 550px) {
  .HomePage {
    .contentTitle {
      .items {
        height: auto;
        flex-direction: row;
        .item {
          padding: 10px;
        }
      }
    }
    .contentDesc {
      .timeBlock {
        font-family: 'Roboto', sans-serif;
        .clock {
          font-size: 24px;
        }
        .month {
          span {
            font-size: 11px;
            line-height: 1;
          }
        }
      }
    }
  }
}